# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
dist/

# vscode settings
.vscode/

# python virtual env
.env/
.venv/
env/
venv/

# app-specific cache
.cpp_linter_cache/

# exclude generated docs
doc/api/
coverage/
