# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# vscode settings
.vscode/

# app-specific cache
.cpp_linter_cache/

# exclude generated docs
doc/api/
coverage/
